NORMAL PANDAS

Pandas (Series Using Python Lists)

In [11]:
import pandas as pd
list1=[11,22,33,44,55]
X=pd.Series(list1)
X

0    11
1    22
2    33
3    44
4    55
dtype: int64

PANDAS (series using list for different data types)

In [12]:
list2=[11,22.0,667,5.00,'Gnani']
X=pd.Series(list2)
X

0       11
1     22.0
2      667
3      5.0
4    Gnani
dtype: object

Pandas (Series using Tuple)

In [13]:
tuple1=(2,6.0,66,18,78)
X=pd.Series(tuple1)
X

0     2.0
1     6.0
2    66.0
3    18.0
4    78.0
dtype: float64

Pandas (Series Using Dictionary)

In [14]:
import numpy as np
import pandas as pd
dict1={1:11,3:34,5:99,4:24}
X=pd.Series(dict1)
X

1    11
3    34
5    99
4    24
dtype: int64

Pandas (series using Numpy)

In [16]:
import numpy as np
import pandas as pd
numpy =np.array([11,34,68,90])
X=pd.Series(numpy)
X

0    11
1    34
2    68
3    90
dtype: int64

Pandas(series using Scalar Vector)

In [17]:
X=pd.Series(15,index=[0,1,2,3,4,5])
X

0    15
1    15
2    15
3    15
4    15
5    15
dtype: int64

Direct Methods For using Pandas in(Lists,Tuples,Dictionary,Numpy,scalar Value)

Pandas(series Using lists)

In [4]:
import numpy as np
import pandas as pd
X=pd.Series([10,43.6,'Gnani',223])
X

0       10
1     43.6
2    Gnani
3      223
dtype: object

Pandas (series using Tuples)

In [5]:
import numpy as np
import pandas as pd
Y=pd.Series((22,78,45.5,'Mohan'))
Y

0       22
1       78
2     45.5
3    Mohan
dtype: object

Pandas (series using Dictionary)

In [6]:
import numpy as np
import pandas as pd
Z=pd.Series({1:23,5:25,9:125,4:'mohan'})
Z

1       23
5       25
9      125
4    mohan
dtype: object

pandas(series using Numpy)

In [7]:
import numpy as np
import pandas as pd
B=pd.Series(np.array([12,33,78,]))
B

0    12
1    33
2    78
dtype: int64

Pandas (Series Using Scalar Vector)

In [8]:
X=pd.Series(15,index=(0,1,2,3,4,5,6,7))
X

0    15
1    15
2    15
3    15
4    15
5    15
6    15
7    15
dtype: int64

In [11]:
import numpy as np
import pandas as pd
C=pd.Series({'A':100,'B':200,'C':300,'D':400,'E':500})
C

A    100
B    200
C    300
D    400
E    500
dtype: int64

Pandas (series Using list (with index))

In [1]:
import numpy as np
import pandas as pd
X=pd.Series([12,33,44,55],index=['a','b','c','d'])
X

a    12
b    33
c    44
d    55
dtype: int64

pandas (series using tuple( with index))

In [17]:
import numpy as np
import pandas as pd
S1=pd.Series((22,34.5,'Sai',34),index=['A','B','C','D'])
S1

A      22
B    34.5
C     Sai
D      34
dtype: object

pandas (series using numpy(with index))

In [21]:
import numpy as np
import pandas as pd
S1=pd.Series(np.array([22,45,7.8,43]),index=['2','4','6','8'])
S1

2    22.0
4    45.0
6     7.8
8    43.0
dtype: float64

Pandas (series Using list(with dtype))

In [24]:
import numpy as np
import pandas as pd
S2=pd.Series([22,33,67,47],dtype='float')
S2

0    22.0
1    33.0
2    67.0
3    47.0
dtype: float64

Accessing The Data from the Pandas Series

In [37]:
import numpy as np
import pandas as pd
S1=pd.Series([10,20,30,40])
print (S1[1])

20

Operations on pandas Series

In [42]:
import numpy as np
import pandas as pd
S1=pd.Series([10,20,30,40])
S2=pd.Series([5,1,4,3])
print(S1+S2)

0    15
1    21
2    34
3    43
dtype: int64

In [40]:
print(S1/S2)

0     2.000000
1    20.000000
2     7.500000
3    13.333333
dtype: float64

In [41]:
print(S1*S2)

0     50
1     20
2    120
3    120
dtype: int64

In [43]:
print(S1**S2)

0    100000
1        20
2    810000
3     64000
dtype: int64

In [49]:
import numpy as np
import pandas as pd
X=pd.Series([1,2,3,4])
Y=pd.Series([10,20,30,40])
print(X/Y)
print(X//Y)
print(X//Y.compare(X/Y))

0    0.1
1    0.1
2    0.1
3    0.1
dtype: float64
0    0
1    0
2    0
3    0
dtype: int64
    0   1   2   3  other  self
0 NaN NaN NaN NaN    NaN   NaN
1 NaN NaN NaN NaN    NaN   NaN
2 NaN NaN NaN NaN    NaN   NaN
3 NaN NaN NaN NaN    NaN   NaN