HOW TO READ CSV,EXCEL & TSV FILES USING PANDAS

IN CSV

In [10]:
import pandas as pd
df=pd.read_csv('filename.csv')
print(df)

      Name  Marks Grades
0  priyang     98     AA
1   Aadhya     89     AB
2  Krishna     99     AA
3   vedant     87     AB
4   Prshav     90     AC
5   Mittal     83     BA
6  Archana     82     BB

like that tsv and excel

Complete Postmortem of read_csv()

i want to read delinquency prediction datasetcsv then i check all downlaoad folders in below code

In [13]:
import glob

files = glob.glob(r'C:\Users\gnane\Downloads\*.csv')
for f in files:
    print(f)

C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv
C:\Users\gnane\Downloads\SQL - Retail Sales Analysis_utf .csv
C:\Users\gnane\Downloads\veUVPdMdnmrRJ1JRQrbE1741617161.csv

so i select delinquency prediction dataset to read_csv code in below

In [14]:
import pandas as pd

df = pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv')
print(df)

    Customer_ID  Age    Income  Credit_Score  Credit_Utilization  \
0      CUST0001   56  165580.0         398.0            0.390502
1      CUST0002   69  100999.0         493.0            0.312444
2      CUST0003   46  188416.0         500.0            0.359930
3      CUST0004   32  101672.0         413.0            0.371400
4      CUST0005   60   38524.0         487.0            0.234716
..          ...  ...       ...           ...                 ...
495    CUST0496   71   48307.0         688.0            0.486522
496    CUST0497   60   86180.0         836.0            0.608174
497    CUST0498   54  152326.0         847.0            0.676950
498    CUST0499   50  105852.0         343.0            0.700643
499    CUST0500   25   40945.0         442.0            0.911370

     Missed_Payments  Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio  \
0                  3                   0       16310.0              0.317396
1                  6                   1       17401.0              0.196093
2                  0                   0       13761.0              0.301655
3                  3                   0       88778.0              0.264794
4                  2                   0       13316.0              0.510583
..               ...                 ...           ...                   ...
495                2                   0       12707.0              0.373033
496                2                   1       45595.0              0.291943
497                0                   0       44449.0              0.104839
498                2                   1       11155.0              0.236477
499                1                   0       36968.0              0.370422

    Employment_Status  Account_Tenure Credit_Card_Type     Location  Month_1  \
0                 EMP              18          Student  Los Angeles     Late
1       Self-employed               0         Standard      Phoenix   Missed
2       Self-employed               1         Platinum      Chicago   Missed
3          Unemployed              15         Platinum      Phoenix     Late
4       Self-employed              11         Standard      Phoenix   Missed
..                ...             ...              ...          ...      ...
495           retired               9         Business      Phoenix  On-time
496        Unemployed              18          Student      Houston  On-time
497          Employed              16          Student      Phoenix  On-time
498          Employed              11          Student      Phoenix     Late
499     Self-employed               0         Business      Houston   Missed

     Month_2 Month_3  Month_4  Month_5  Month_6
0       Late  Missed     Late   Missed     Late
1     Missed    Late   Missed  On-time  On-time
2       Late    Late  On-time   Missed     Late
3     Missed    Late   Missed     Late     Late
4    On-time  Missed     Late     Late     Late
..       ...     ...      ...      ...      ...
495  On-time  Missed  On-time  On-time     Late
496  On-time    Late     Late     Late   Missed
497     Late    Late  On-time     Late   Missed
498  On-time    Late   Missed  On-time   Missed
499     Late    Late  On-time     Late  On-time

[500 rows x 19 columns]

1.N ROWS PARAMETER

N Rows Means: NO of Rows i want to print that my Data set

In [18]:
import pandas as pd
df=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',nrows=10)
print(df)

  Customer_ID  Age  Income  Credit_Score  Credit_Utilization  Missed_Payments  \
0    CUST0001   56  165580           398            0.390502                3
1    CUST0002   69  100999           493            0.312444                6
2    CUST0003   46  188416           500            0.359930                0
3    CUST0004   32  101672           413            0.371400                3
4    CUST0005   60   38524           487            0.234716                2
5    CUST0006   25   84042           700            0.650540                6
6    CUST0007   38   35056           354            0.390581                3
7    CUST0008   56  123215           415            0.532715                5
8    CUST0009   36   66991           405            0.413035                5
9    CUST0010   40   34870           679            0.361824                4

   Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio Employment_Status  \
0                   0       16310.0              0.317396               EMP
1                   1       17401.0              0.196093     Self-employed
2                   0       13761.0              0.301655     Self-employed
3                   0       88778.0              0.264794        Unemployed
4                   0       13316.0              0.510583     Self-employed
5                   0       48361.0              0.260688        Unemployed
6                   0        4638.0              0.484265          employed
7                   0       55776.0              0.358695               EMP
8                   1           NaN              0.219854          Employed
9                   0       93922.0              0.333081               EMP

   Account_Tenure Credit_Card_Type     Location  Month_1  Month_2  Month_3  \
0              18          Student  Los Angeles     Late     Late   Missed
1               0         Standard      Phoenix   Missed   Missed     Late
2               1         Platinum      Chicago   Missed     Late     Late
3              15         Platinum      Phoenix     Late   Missed     Late
4              11         Standard      Phoenix   Missed  On-time   Missed
5               7             Gold     New York  On-time     Late   Missed
6              17         Platinum     New York  On-time   Missed   Missed
7               1          Student     New York  On-time  On-time  On-time
8              12          Student      Phoenix  On-time  On-time  On-time
9               5         Business  Los Angeles  On-time   Missed   Missed

   Month_4  Month_5  Month_6
0     Late   Missed     Late
1   Missed  On-time  On-time
2  On-time   Missed     Late
3   Missed     Late     Late
4     Late     Late     Late
5   Missed   Missed     Late
6     Late   Missed     Late
7     Late   Missed     Late
8   Missed     Late  On-time
9  On-time   Missed   Missed

2.SKIP ROWS:i want to skip 2 rows

In [20]:
import pandas as pd
df=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',skiprows=[1,2])
print(df)

    Customer_ID  Age    Income  Credit_Score  Credit_Utilization  \
0      CUST0003   46  188416.0         500.0            0.359930
1      CUST0004   32  101672.0         413.0            0.371400
2      CUST0005   60   38524.0         487.0            0.234716
3      CUST0006   25   84042.0         700.0            0.650540
4      CUST0007   38   35056.0         354.0            0.390581
..          ...  ...       ...           ...                 ...
493    CUST0496   71   48307.0         688.0            0.486522
494    CUST0497   60   86180.0         836.0            0.608174
495    CUST0498   54  152326.0         847.0            0.676950
496    CUST0499   50  105852.0         343.0            0.700643
497    CUST0500   25   40945.0         442.0            0.911370

     Missed_Payments  Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio  \
0                  0                   0       13761.0              0.301655
1                  3                   0       88778.0              0.264794
2                  2                   0       13316.0              0.510583
3                  6                   0       48361.0              0.260688
4                  3                   0        4638.0              0.484265
..               ...                 ...           ...                   ...
493                2                   0       12707.0              0.373033
494                2                   1       45595.0              0.291943
495                0                   0       44449.0              0.104839
496                2                   1       11155.0              0.236477
497                1                   0       36968.0              0.370422

    Employment_Status  Account_Tenure Credit_Card_Type  Location  Month_1  \
0       Self-employed               1         Platinum   Chicago   Missed
1          Unemployed              15         Platinum   Phoenix     Late
2       Self-employed              11         Standard   Phoenix   Missed
3          Unemployed               7             Gold  New York  On-time
4            employed              17         Platinum  New York  On-time
..                ...             ...              ...       ...      ...
493           retired               9         Business   Phoenix  On-time
494        Unemployed              18          Student   Houston  On-time
495          Employed              16          Student   Phoenix  On-time
496          Employed              11          Student   Phoenix     Late
497     Self-employed               0         Business   Houston   Missed

     Month_2 Month_3  Month_4  Month_5  Month_6
0       Late    Late  On-time   Missed     Late
1     Missed    Late   Missed     Late     Late
2    On-time  Missed     Late     Late     Late
3       Late  Missed   Missed   Missed     Late
4     Missed  Missed     Late   Missed     Late
..       ...     ...      ...      ...      ...
493  On-time  Missed  On-time  On-time     Late
494  On-time    Late     Late     Late   Missed
495     Late    Late  On-time     Late   Missed
496  On-time    Late   Missed  On-time   Missed
497     Late    Late  On-time     Late  On-time

[498 rows x 19 columns]

3.usecols:to load only specific columns

(i)Load only select column names

In [23]:
import pandas as pd
df=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',usecols=['Customer_ID','Income','Missed_Payments'])
print(df)

    Customer_ID    Income  Missed_Payments
0      CUST0001  165580.0                3
1      CUST0002  100999.0                6
2      CUST0003  188416.0                0
3      CUST0004  101672.0                3
4      CUST0005   38524.0                2
..          ...       ...              ...
495    CUST0496   48307.0                2
496    CUST0497   86180.0                2
497    CUST0498  152326.0                0
498    CUST0499  105852.0                2
499    CUST0500   40945.0                1

[500 rows x 3 columns]

(ii) Load columns with index

In [24]:
import pandas as pd
df=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',usecols=[0,1,2])
print(df)

    Customer_ID  Age    Income
0      CUST0001   56  165580.0
1      CUST0002   69  100999.0
2      CUST0003   46  188416.0
3      CUST0004   32  101672.0
4      CUST0005   60   38524.0
..          ...  ...       ...
495    CUST0496   71   48307.0
496    CUST0497   60   86180.0
497    CUST0498   54  152326.0
498    CUST0499   50  105852.0
499    CUST0500   25   40945.0

[500 rows x 3 columns]

(iii) combine  with n rows

In [25]:
import pandas as pd
df=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',usecols=[0,1,2,3],nrows=8)
print(df)

  Customer_ID  Age  Income  Credit_Score
0    CUST0001   56  165580           398
1    CUST0002   69  100999           493
2    CUST0003   46  188416           500
3    CUST0004   32  101672           413
4    CUST0005   60   38524           487
5    CUST0006   25   84042           700
6    CUST0007   38   35056           354
7    CUST0008   56  123215           415

INDEX_COL:Lets you set one (or more) columns as the index of your DataFrame while reading the CSV.

1.Using a column number as index

In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',index_col=0)
print(df)

             Age    Income  Credit_Score  Credit_Utilization  Missed_Payments  \
Customer_ID
CUST0001      56  165580.0         398.0            0.390502                3
CUST0002      69  100999.0         493.0            0.312444                6
CUST0003      46  188416.0         500.0            0.359930                0
CUST0004      32  101672.0         413.0            0.371400                3
CUST0005      60   38524.0         487.0            0.234716                2
...          ...       ...           ...                 ...              ...
CUST0496      71   48307.0         688.0            0.486522                2
CUST0497      60   86180.0         836.0            0.608174                2
CUST0498      54  152326.0         847.0            0.676950                0
CUST0499      50  105852.0         343.0            0.700643                2
CUST0500      25   40945.0         442.0            0.911370                1

             Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio  \
Customer_ID
CUST0001                      0       16310.0              0.317396
CUST0002                      1       17401.0              0.196093
CUST0003                      0       13761.0              0.301655
CUST0004                      0       88778.0              0.264794
CUST0005                      0       13316.0              0.510583
...                         ...           ...                   ...
CUST0496                      0       12707.0              0.373033
CUST0497                      1       45595.0              0.291943
CUST0498                      0       44449.0              0.104839
CUST0499                      1       11155.0              0.236477
CUST0500                      0       36968.0              0.370422

            Employment_Status  Account_Tenure Credit_Card_Type     Location  \
Customer_ID
CUST0001                  EMP              18          Student  Los Angeles
CUST0002        Self-employed               0         Standard      Phoenix
CUST0003        Self-employed               1         Platinum      Chicago
CUST0004           Unemployed              15         Platinum      Phoenix
CUST0005        Self-employed              11         Standard      Phoenix
...                       ...             ...              ...          ...
CUST0496              retired               9         Business      Phoenix
CUST0497           Unemployed              18          Student      Houston
CUST0498             Employed              16          Student      Phoenix
CUST0499             Employed              11          Student      Phoenix
CUST0500        Self-employed               0         Business      Houston

             Month_1  Month_2 Month_3  Month_4  Month_5  Month_6
Customer_ID
CUST0001        Late     Late  Missed     Late   Missed     Late
CUST0002      Missed   Missed    Late   Missed  On-time  On-time
CUST0003      Missed     Late    Late  On-time   Missed     Late
CUST0004        Late   Missed    Late   Missed     Late     Late
CUST0005      Missed  On-time  Missed     Late     Late     Late
...              ...      ...     ...      ...      ...      ...
CUST0496     On-time  On-time  Missed  On-time  On-time     Late
CUST0497     On-time  On-time    Late     Late     Late   Missed
CUST0498     On-time     Late    Late  On-time     Late   Missed
CUST0499        Late  On-time    Late   Missed  On-time   Missed
CUST0500      Missed     Late    Late  On-time     Late  On-time

[500 rows x 18 columns]

2.Using a column name as index

In [3]:
import pandas as pd
df=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',index_col='Age')
print(df)

    Customer_ID    Income  Credit_Score  Credit_Utilization  Missed_Payments  \
Age
56     CUST0001  165580.0         398.0            0.390502                3
69     CUST0002  100999.0         493.0            0.312444                6
46     CUST0003  188416.0         500.0            0.359930                0
32     CUST0004  101672.0         413.0            0.371400                3
60     CUST0005   38524.0         487.0            0.234716                2
..          ...       ...           ...                 ...              ...
71     CUST0496   48307.0         688.0            0.486522                2
60     CUST0497   86180.0         836.0            0.608174                2
54     CUST0498  152326.0         847.0            0.676950                0
50     CUST0499  105852.0         343.0            0.700643                2
25     CUST0500   40945.0         442.0            0.911370                1

     Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio Employment_Status  \
Age
56                    0       16310.0              0.317396               EMP
69                    1       17401.0              0.196093     Self-employed
46                    0       13761.0              0.301655     Self-employed
32                    0       88778.0              0.264794        Unemployed
60                    0       13316.0              0.510583     Self-employed
..                  ...           ...                   ...               ...
71                    0       12707.0              0.373033           retired
60                    1       45595.0              0.291943        Unemployed
54                    0       44449.0              0.104839          Employed
50                    1       11155.0              0.236477          Employed
25                    0       36968.0              0.370422     Self-employed

     Account_Tenure Credit_Card_Type     Location  Month_1  Month_2 Month_3  \
Age
56               18          Student  Los Angeles     Late     Late  Missed
69                0         Standard      Phoenix   Missed   Missed    Late
46                1         Platinum      Chicago   Missed     Late    Late
32               15         Platinum      Phoenix     Late   Missed    Late
60               11         Standard      Phoenix   Missed  On-time  Missed
..              ...              ...          ...      ...      ...     ...
71                9         Business      Phoenix  On-time  On-time  Missed
60               18          Student      Houston  On-time  On-time    Late
54               16          Student      Phoenix  On-time     Late    Late
50               11          Student      Phoenix     Late  On-time    Late
25                0         Business      Houston   Missed     Late    Late

     Month_4  Month_5  Month_6
Age
56      Late   Missed     Late
69    Missed  On-time  On-time
46   On-time   Missed     Late
32    Missed     Late     Late
60      Late     Late     Late
..       ...      ...      ...
71   On-time  On-time     Late
60      Late     Late   Missed
54   On-time     Late   Missed
50    Missed  On-time   Missed
25   On-time     Late  On-time

[500 rows x 18 columns]

In [4]:
print(df.index)   # see the index

Index([56, 69, 46, 32, 60, 25, 38, 56, 36, 40,
       ...
       66, 69, 59, 23, 32, 71, 60, 54, 50, 25],
      dtype='int64', name='Age', length=500)

MUlTI-INDEX:to add one or more index to the data

In [5]:
import pandas as pd
df=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',index_col=[0,1])
print(df)

                   Income  Credit_Score  Credit_Utilization  Missed_Payments  \
Customer_ID Age
CUST0001    56   165580.0         398.0            0.390502                3
CUST0002    69   100999.0         493.0            0.312444                6
CUST0003    46   188416.0         500.0            0.359930                0
CUST0004    32   101672.0         413.0            0.371400                3
CUST0005    60    38524.0         487.0            0.234716                2
...                   ...           ...                 ...              ...
CUST0496    71    48307.0         688.0            0.486522                2
CUST0497    60    86180.0         836.0            0.608174                2
CUST0498    54   152326.0         847.0            0.676950                0
CUST0499    50   105852.0         343.0            0.700643                2
CUST0500    25    40945.0         442.0            0.911370                1

                 Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio  \
Customer_ID Age
CUST0001    56                    0       16310.0              0.317396
CUST0002    69                    1       17401.0              0.196093
CUST0003    46                    0       13761.0              0.301655
CUST0004    32                    0       88778.0              0.264794
CUST0005    60                    0       13316.0              0.510583
...                             ...           ...                   ...
CUST0496    71                    0       12707.0              0.373033
CUST0497    60                    1       45595.0              0.291943
CUST0498    54                    0       44449.0              0.104839
CUST0499    50                    1       11155.0              0.236477
CUST0500    25                    0       36968.0              0.370422

                Employment_Status  Account_Tenure Credit_Card_Type  \
Customer_ID Age
CUST0001    56                EMP              18          Student
CUST0002    69      Self-employed               0         Standard
CUST0003    46      Self-employed               1         Platinum
CUST0004    32         Unemployed              15         Platinum
CUST0005    60      Self-employed              11         Standard
...                           ...             ...              ...
CUST0496    71            retired               9         Business
CUST0497    60         Unemployed              18          Student
CUST0498    54           Employed              16          Student
CUST0499    50           Employed              11          Student
CUST0500    25      Self-employed               0         Business

                    Location  Month_1  Month_2 Month_3  Month_4  Month_5  \
Customer_ID Age
CUST0001    56   Los Angeles     Late     Late  Missed     Late   Missed
CUST0002    69       Phoenix   Missed   Missed    Late   Missed  On-time
CUST0003    46       Chicago   Missed     Late    Late  On-time   Missed
CUST0004    32       Phoenix     Late   Missed    Late   Missed     Late
CUST0005    60       Phoenix   Missed  On-time  Missed     Late     Late
...                      ...      ...      ...     ...      ...      ...
CUST0496    71       Phoenix  On-time  On-time  Missed  On-time  On-time
CUST0497    60       Houston  On-time  On-time    Late     Late     Late
CUST0498    54       Phoenix  On-time     Late    Late  On-time     Late
CUST0499    50       Phoenix     Late  On-time    Late   Missed  On-time
CUST0500    25       Houston   Missed     Late    Late  On-time     Late

                 Month_6
Customer_ID Age
CUST0001    56      Late
CUST0002    69   On-time
CUST0003    46      Late
CUST0004    32      Late
CUST0005    60      Late
...                  ...
CUST0496    71      Late
CUST0497    60    Missed
CUST0498    54    Missed
CUST0499    50    Missed
CUST0500    25   On-time

[500 rows x 17 columns]

CHUNK SIZE:When a CSV file is too large to fit in memory at once, you can read it in pieces (chunks).

Each chunk will be a DataFrame of a fixed number of rows.

In [3]:
import pandas as pd
chunks=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',chunksize=10)
print(chunks)
for i, chunk in enumerate(chunks):   # enumerate gives chunk number
    print(f"Chunk {i+1}")
    print(chunk)
    break

<pandas.io.parsers.readers.TextFileReader object at 0x000001BDBCCF5310>
Chunk 1
  Customer_ID  Age  Income  Credit_Score  Credit_Utilization  Missed_Payments  \
0    CUST0001   56  165580           398            0.390502                3
1    CUST0002   69  100999           493            0.312444                6
2    CUST0003   46  188416           500            0.359930                0
3    CUST0004   32  101672           413            0.371400                3
4    CUST0005   60   38524           487            0.234716                2
5    CUST0006   25   84042           700            0.650540                6
6    CUST0007   38   35056           354            0.390581                3
7    CUST0008   56  123215           415            0.532715                5
8    CUST0009   36   66991           405            0.413035                5
9    CUST0010   40   34870           679            0.361824                4

   Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio Employment_Status  \
0                   0       16310.0              0.317396               EMP
1                   1       17401.0              0.196093     Self-employed
2                   0       13761.0              0.301655     Self-employed
3                   0       88778.0              0.264794        Unemployed
4                   0       13316.0              0.510583     Self-employed
5                   0       48361.0              0.260688        Unemployed
6                   0        4638.0              0.484265          employed
7                   0       55776.0              0.358695               EMP
8                   1           NaN              0.219854          Employed
9                   0       93922.0              0.333081               EMP

   Account_Tenure Credit_Card_Type     Location  Month_1  Month_2  Month_3  \
0              18          Student  Los Angeles     Late     Late   Missed
1               0         Standard      Phoenix   Missed   Missed     Late
2               1         Platinum      Chicago   Missed     Late     Late
3              15         Platinum      Phoenix     Late   Missed     Late
4              11         Standard      Phoenix   Missed  On-time   Missed
5               7             Gold     New York  On-time     Late   Missed
6              17         Platinum     New York  On-time   Missed   Missed
7               1          Student     New York  On-time  On-time  On-time
8              12          Student      Phoenix  On-time  On-time  On-time
9               5         Business  Los Angeles  On-time   Missed   Missed

   Month_4  Month_5  Month_6
0     Late   Missed     Late
1   Missed  On-time  On-time
2  On-time   Missed     Late
3   Missed     Late     Late
4     Late     Late     Late
5   Missed   Missed     Late
6     Late   Missed     Late
7     Late   Missed     Late
8   Missed     Late  On-time
9  On-time   Missed   Missed

Concatenate chunks back

If you want to read chunks, process them, then combine:

In [4]:
import pandas as pd
chunks=pd.read_csv(r'C:\Users\gnane\Downloads\Delinquency_prediction_dataset.csv',chunksize=10)
df=pd.concat(chunks)
print(df)

    Customer_ID  Age    Income  Credit_Score  Credit_Utilization  \
0      CUST0001   56  165580.0         398.0            0.390502
1      CUST0002   69  100999.0         493.0            0.312444
2      CUST0003   46  188416.0         500.0            0.359930
3      CUST0004   32  101672.0         413.0            0.371400
4      CUST0005   60   38524.0         487.0            0.234716
..          ...  ...       ...           ...                 ...
495    CUST0496   71   48307.0         688.0            0.486522
496    CUST0497   60   86180.0         836.0            0.608174
497    CUST0498   54  152326.0         847.0            0.676950
498    CUST0499   50  105852.0         343.0            0.700643
499    CUST0500   25   40945.0         442.0            0.911370

     Missed_Payments  Delinquent_Account  Loan_Balance  Debt_to_Income_Ratio  \
0                  3                   0       16310.0              0.317396
1                  6                   1       17401.0              0.196093
2                  0                   0       13761.0              0.301655
3                  3                   0       88778.0              0.264794
4                  2                   0       13316.0              0.510583
..               ...                 ...           ...                   ...
495                2                   0       12707.0              0.373033
496                2                   1       45595.0              0.291943
497                0                   0       44449.0              0.104839
498                2                   1       11155.0              0.236477
499                1                   0       36968.0              0.370422

    Employment_Status  Account_Tenure Credit_Card_Type     Location  Month_1  \
0                 EMP              18          Student  Los Angeles     Late
1       Self-employed               0         Standard      Phoenix   Missed
2       Self-employed               1         Platinum      Chicago   Missed
3          Unemployed              15         Platinum      Phoenix     Late
4       Self-employed              11         Standard      Phoenix   Missed
..                ...             ...              ...          ...      ...
495           retired               9         Business      Phoenix  On-time
496        Unemployed              18          Student      Houston  On-time
497          Employed              16          Student      Phoenix  On-time
498          Employed              11          Student      Phoenix     Late
499     Self-employed               0         Business      Houston   Missed

     Month_2 Month_3  Month_4  Month_5  Month_6
0       Late  Missed     Late   Missed     Late
1     Missed    Late   Missed  On-time  On-time
2       Late    Late  On-time   Missed     Late
3     Missed    Late   Missed     Late     Late
4    On-time  Missed     Late     Late     Late
..       ...     ...      ...      ...      ...
495  On-time  Missed  On-time  On-time     Late
496  On-time    Late     Late     Late   Missed
497     Late    Late  On-time     Late   Missed
498  On-time    Late   Missed  On-time   Missed
499     Late    Late  On-time     Late  On-time

[500 rows x 19 columns]