GROUP BY IN PANDAS

In [2]:
import pandas as pd
d={'city':['Ahmedabad','Baroda','Anand','Ahmedabad','Baroda','Anand'],
   'Temp':[40,35,32,45,37,34]}
df=pd.DataFrame(d)
print(df)

        city  Temp
0  Ahmedabad    40
1     Baroda    35
2      Anand    32
3  Ahmedabad    45
4     Baroda    37
5      Anand    34

1.SPLIT: here we have repeated city split the city

In [4]:
grp_a= df[df['city']=='Ahmedabad']
grp_a

        city  Temp
0  Ahmedabad    40
3  Ahmedabad    45

In [5]:
grp_b= df[df['city']=='Baroda']
print(grp_b)

     city  Temp
1  Baroda    35
4  Baroda    37

In [6]:
grp_c= df[df['city']=='Anand']
print(grp_c)

    city  Temp
2  Anand    32
5  Anand    34

(ii).APPLY:we can apply mean for grp_a,grp_b,grp_c

In [8]:
grp_a=df[df['city']=='Ahmedabad']
avg_a=grp_a['Temp'].mean()
print(avg_a)

42.5

In [9]:
grp_b=df[df['city']=='Baroda']
avg_b=grp_b['Temp'].mean()
print(avg_b)

36.0

In [10]:
grp_c=df[df['city']=='Anand']
avg_c=grp_c['Temp'].mean()
print(avg_c)

33.0

(iii).COMBINE:

In [11]:
df1=pd.DataFrame({'city':['Ahmedabad','Baroda','Anand'],
                  'Temp':[avg_a,avg_b,avg_c]})
df1

        city  Temp
0  Ahmedabad  42.5
1     Baroda  36.0
2      Anand  33.0

NOW 3 THESE USED IN DIRECT METHOD I.E IS GROUP BY IN ONE STEP

GROUP BY

In [12]:
import pandas as pd
d={'city':['Ahmedabad','Baroda','Anand','Ahmedabad','Baroda','Anand'],
   'Temp':[40,35,32,45,37,34]}
df=pd.DataFrame(d)
print(df)

        city  Temp
0  Ahmedabad    40
1     Baroda    35
2      Anand    32
3  Ahmedabad    45
4     Baroda    37
5      Anand    34

In [13]:
result=df.groupby('city')['Temp'].mean()
result

city
Ahmedabad    42.5
Anand        33.0
Baroda       36.0
Name: Temp, dtype: float64

GROUP BY :GROUP BY FUNCTION USING GROUPBY

In [8]:
import pandas as pd
d={'city':['Ahmedabad','Baroda','Anand','Ahmedabad','Baroda','Anand'],
   'Temp':[40,35,32,45,37,34],
   'Humidity':[32,34,23,24,27,32]}
df=pd.DataFrame(d)
print(df)

        city  Temp  Humidity
0  Ahmedabad    40        32
1     Baroda    35        34
2      Anand    32        23
3  Ahmedabad    45        24
4     Baroda    37        27
5      Anand    34        32

1.DISPLAY AVERAGE TEMPERATURE

In [18]:
df['Temp'].mean()

np.float64(37.166666666666664)

2.DISPLAY AVERAGE TEMPARTURE CITY WISE

In [19]:
grp=df.groupby('city')['Temp'].mean()
grp

city
Ahmedabad    42.5
Anand        33.0
Baroda       36.0
Name: Temp, dtype: float64

3.Apply functions to group by min,mean,max etc

In [9]:
grp=df.groupby('city').mean()
grp

           Temp  Humidity
city
Ahmedabad  42.5      28.0
Anand      33.0      27.5
Baroda     36.0      30.5

In [10]:
grp=df.groupby('city').max()
grp

           Temp  Humidity
city
Ahmedabad    45        32
Anand        34        32
Baroda       37        34

In [11]:
grp=df.groupby('city').min()
grp

           Temp  Humidity
city
Ahmedabad    40        24
Anand        32        23
Baroda       35        27

4.Display descriptive statistics groupwise

In [17]:
grp=df.groupby('city')
grp.describe()

           Temp                                                 Humidity  \
          count  mean       std   min    25%   50%    75%   max    count
city
Ahmedabad   2.0  42.5  3.535534  40.0  41.25  42.5  43.75  45.0      2.0
Anand       2.0  33.0  1.414214  32.0  32.50  33.0  33.50  34.0      2.0
Baroda      2.0  36.0  1.414214  35.0  35.50  36.0  36.50  37.0      2.0


           mean       std   min    25%   50%    75%   max
city
Ahmedabad  28.0  5.656854  24.0  26.00  28.0  30.00  32.0
Anand      27.5  6.363961  23.0  25.25  27.5  29.75  32.0
Baroda     30.5  4.949747  27.0  28.75  30.5  32.25  34.0

PANDAS HTML READ FILE:

In [14]:
import pandas as pd
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India')
df

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [ ]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Collecting lxml
  Downloading lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-6.0.1-cp313-cp313-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   --------------- ------------------------ 1.6/4.0 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------  3.9/4.0 MB 9.9 MB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 9.3 MB/s  0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001977D95C050>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /packages/34/96/6a6c3b8aa480639c1a0b9b6faf2a63fb73ab79ffcd2a91cf28745faa22de/lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001977D95C2D0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /packages/34/96/6a6c3b8aa480639c1a0b9b6faf2a63fb73ab79ffcd2a91cf28745faa22de/lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001977D95C550>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /packages/34/96/6a6c3b8aa480639c1a0b9b6faf2a63fb73ab79ffcd2a91cf28745faa22de/lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001977D95C7D0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /packages/34/96/6a6c3b8aa480639c1a0b9b6faf2a63fb73ab79ffcd2a91cf28745faa22de/lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001977D95CA50>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /packages/34/96/6a6c3b8aa480639c1a0b9b6faf2a63fb73ab79ffcd2a91cf28745faa22de/lxml-6.0.1-cp313-cp313-win_amd64.whl.metadata

In [16]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India')[0]
print(df.head())

HTTPError: HTTP Error 403: Forbidden

In [18]:
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India"

# Send request with headers
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

# Parse tables from the HTML content
tables = pd.read_html(response.text)

# Pick the first table
df = tables[0]
print(df.head())

    States and union territories of India ordered by
0  Area Population GDP (per capita) Abbreviations...
1                                                vte

C:\Users\gnane\AppData\Local\Temp\ipykernel_22636\2667483642.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [19]:
import pandas as pd
import requests
from io import StringIO   # <-- for StringIO

url = "https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India"

# Send request with headers
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

# Use StringIO to wrap the HTML text
tables = pd.read_html(StringIO(response.text))

# Pick the correct table (likely the 1st or 2nd)
df = tables[0]
print(df.head())

    States and union territories of India ordered by
0  Area Population GDP (per capita) Abbreviations...
1                                                vte

In [20]:
print(df)

    States and union territories of India ordered by
0  Area Population GDP (per capita) Abbreviations...
1                                                vte

In [21]:
import pandas as pd
import requests
from io import StringIO

url = "https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India"

headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

tables = pd.read_html(StringIO(response.text))

print(f"Total tables found: {len(tables)}\n")

# Print first 3 rows of each table to inspect
for i, table in enumerate(tables):
    print(f"--- Table {i} ---")
    print(table.head(), "\n")

Total tables found: 4

--- Table 0 ---
    States and union territories of India ordered by
0  Area Population GDP (per capita) Abbreviations...
1                                                vte

--- Table 1 ---
               State Administrative/ Executive capital Legislative capital  \
0     Andhra Pradesh                         Amaravati           Amaravati
1  Arunachal Pradesh                          Itanagar            Itanagar
2              Assam                            Dispur              Dispur
3              Bihar                             Patna               Patna
4       Chhattisgarh                         Raipur[c]           Raipur[c]

  Judicial capital  Year of establishment            Former capital
0        Amaravati                   1956  Hyderabad[a] (19562014)
1         Guwahati                   1987
2         Guwahati                   1972   Shillong[b] (19501972)
3            Patna                   1950
4         Bilaspur                   2000

--- Table 2 ---
                            Union Territory  \
0               Andaman and Nicobar Islands
1                                Chandigarh
2  Dadra and Nagar Haveli and Daman and Diu
3                         Jammu and Kashmir
4                                    Ladakh

            Administrative/ Executive capital  \
0  Sri Vijay Puram (also known as Port Blair)
1                                  Chandigarh
2                                       Daman
3            Srinagar (summer) Jammu (winter)
4                Leh (summer) Kargil (winter)

                Legislative capital                  Judicial capital  \
0                                                            Kolkata
1                                                         Chandigarh
2                                                             Mumbai
3  Srinagar (summer) Jammu (winter)  Srinagar (summer) Jammu (winter)
4                                   Srinagar (summer) Jammu (winter)

   Year of establishment
0                   1956
1                   1966
2                   2020
3                   2019
4                   2019

--- Table 3 ---
  vteState and Union Territory capitals of India  \
0                                 Administrative
1                                    Legislative
2                                       Judicial

    vteState and Union Territory capitals of India.1
0  Agartala Aizawl Amaravati Bengaluru Bhopal Bhu...
1  Agartala Aizawl Amaravati Bengaluru (summer) B...
2  Agartala Ahmedabad Amaravati Bengaluru Bilaspu...