MERGE (): IT IS USED TO COMBINE '2' DATA FRAMES

In [3]:
import pandas as pd
d={'Key':['K0','K1','K2','K3','K4'],
   'Name':['Priyang','Aadhya','Vedant','parshv','krishna']}
d1={'Key':['K0','K1','K2','K3','K4'],
    'Marks':[98,99,89,85,87]}

df=pd.DataFrame(d)
df1=pd.DataFrame(d1)
print(df,df1)

  Key     Name
0  K0  Priyang
1  K1   Aadhya
2  K2   Vedant
3  K3   parshv
4  K4  krishna   Key  Marks
0  K0     98
1  K1     99
2  K2     89
3  K3     85
4  K4     87

* Now i want to merge 2 tables df as right column and dfl as left column

In [9]:
merged_df=df.merge(df1,on='Key')
print(merged_df)

  Key     Name  Marks
0  K0  Priyang     98
1  K1   Aadhya     99
2  K2   Vedant     89
3  K3   parshv     85
4  K4  krishna     87

In [16]:
import pandas as pd
d1={'Key':['K0','K1','K2','K5','K6'],
   'Name':['Priyang','Aadhya','Vedant','parshv','krishna']}
d2={'Key':['K0','K1','K2','K3','K4'],
    'Marks':[98,99,89,85,87]}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1,df2)

  Key     Name
0  K0  Priyang
1  K1   Aadhya
2  K2   Vedant
3  K5   parshv
4  K6  krishna   Key  Marks
0  K0     98
1  K1     99
2  K2     89
3  K3     85
4  K4     87

1.inner merge:

In [18]:
inner=pd.merge(df1,df2,on='Key',how='inner')
print(inner)

  Key     Name  Marks
0  K0  Priyang     98
1  K1   Aadhya     99
2  K2   Vedant     89

2.left merge:

In [19]:
left=pd.merge(df1,df2,on='Key',how='left')
print(left)

  Key     Name  Marks
0  K0  Priyang   98.0
1  K1   Aadhya   99.0
2  K2   Vedant   89.0
3  K5   parshv    NaN
4  K6  krishna    NaN

3.right merge:

In [20]:
right=pd.merge(df1,df2,on='Key',how='right')
print(right)

  Key     Name  Marks
0  K0  Priyang     98
1  K1   Aadhya     99
2  K2   Vedant     89
3  K3      NaN     85
4  K4      NaN     87

CONCAT PANDAS:

concat series:

In [ ]:
import pandas as pd
s1=pd.Series([1,2,3],name='A')
s2=pd.Series([4,5,6],name='B')
print(s1,s2)

0    1
1    2
2    3
Name: A, dtype: int64 0    4
1    5
2    6
Name: B, dtype: int64

In [9]:
import pandas as pd
r=pd.concat([s1,s2])
print(r)# vertically  concat it is default

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [10]:
import pandas as pd
r1=pd.concat([s1,s2],axis=1)
print(r1)

   A  B
0  1  4
1  2  5
2  3  6

CONCAT DATA FRAME:

In [11]:
import pandas as pd
d1={'Name':['Priyang','Aadhya','Vedant','Parshv','krisha'],
   'Marks':[98,99,89,85,87]}
d2={'Name':['Rahul','Anil','Paresh'],'Marks':[98,99,89]}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1,df2)

      Name  Marks
0  Priyang     98
1   Aadhya     99
2   Vedant     89
3   Parshv     85
4   krisha     87      Name  Marks
0   Rahul     98
1    Anil     99
2  Paresh     89

In [ ]:
import pandas as pd
row_wise=pd.concat([df1,df2]) # row wise concate
print(row_wise)

      Name  Marks
0  Priyang     98
1   Aadhya     99
2   Vedant     89
3   Parshv     85
4   krisha     87
0    Rahul     98
1     Anil     99
2   Paresh     89

In [14]:
import pandas as pd
col_wise=pd.concat([df1,df2],axis=1)
print(col_wise)

      Name  Marks    Name  Marks
0  Priyang     98   Rahul   98.0
1   Aadhya     99    Anil   99.0
2   Vedant     89  Paresh   89.0
3   Parshv     85     NaN    NaN
4   krisha     87     NaN    NaN